header {
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 80px;
}

img {
  display: inline-block;
  vertical-align: middle;
}


nav {
  display: inline-block;
}


li {
  display: inline-block;
  vertical-align: middle;
  margin: 18px;
}

.img-1 {
  margin-right: 50px;
}

a {
  font-size: 22px;
  color: #3D58A6; 
  cursor: pointer;
}

.active {
  color: #ee4036;
  
}

.b-1 {
  font-size: 31px;
  background-color: #3D58A6;
  width: 56px;
  height: 56px;
  border: none;
  color: white; 
  margin-left: 30px;
}

.may-1 {
  margin-left: 30px;
  color: #3D58A6;
  font-size: 22px;
}

.p-1 {
  margin-top: 17.5px;
  margin-left: 30px;
}

.div {
  display: inline-block;
  width: 1238px;
}

.img-2 {
  margin-top: 17.5px;
  margin-left: 30px;
}

.p-2 {
  display: inline-block;
  width: 929px;
  margin-left: 339px;
  margin-top: 21px;
  position: relative;
  bottom: 220px;

}

.p-3 {
  display: inline-block;
  width: 929px;
  margin-left: 339px;
  margin-top: 0px;
  position: relative;
  bottom: 210px;
}

